<h1>Usuários</h1>

<a href="/inserirUsuario">Novo usuário</a>

<table border="1">
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Idade</th>
        <th>Tipo</th>
        <th>Ações</th>
    </tr>

    {{#each usuarios}}

    <tr>
        <td>{{nome}}</td>
        <td>{{email}}</td>
        <td>{{idade}}</td>
        <td>{{tipo}}</td>

        <td>
            <a href="/editarUsuario/{{id}}">Editar</a>

            <form action="/deletarUsuario/{{id}}?_method=DELETE" method="POST">
                <button>Excluir</button>
            </form>
        </td>

    </tr>

    {{/each}}

</table>